In [10]:
import pandas as pd
import numpy as np

In [27]:
'''
Transforming dataset of flavor Network

Finally saved data with column names and row names in csv format
Columns and rows are defined as IDs.

'''

rec_names = ["region"]
rec_names = rec_names + ["ingredient {0}".format(i+1) for i in range(32)]

In [12]:
recipes_data = pd.read_csv(r".\data\recipes.csv", dtype = "str", names = rec_names)
ingr_data = pd.read_csv(r".\data\ingr_info.tsv", dtype = "str", sep = '\t')
comp_data = pd.read_csv(r".\data\comp_info.tsv", dtype = "str", sep ='\t')
ingr_comp_data = pd.read_csv(r".\data\ingr_comp.tsv", dtype = "str", sep = '\t')

In [13]:
ingr_data.shape

(1530, 3)

In [14]:
comp_data.shape

(1107, 3)

# ingredient-compound

In [15]:
# matrix = ingredient * compounds
cols = [i for i in range(1107)]
temp = np.zeros((1530,1107), dtype = np.int)

In [16]:
# ingredient-compound
for idx, row in ingr_comp_data.iterrows():
  iID = int(row["# ingredient id"])
  cID = int(row["compound id"])
  temp[iID, cID] = 1 
df_ingr_comp = pd.DataFrame(data = temp)

In [17]:
xx = 3
mask = df_ingr_comp.iloc[xx] == 1
#print(df_ingr_comp.iloc[xx][mask])

54      1
62      1
71      1
136     1
196     1
198     1
199     1
203     1
243     1
272     1
275     1
282     1
286     1
292     1
344     1
357     1
369     1
390     1
391     1
409     1
413     1
423     1
424     1
524     1
531     1
549     1
554     1
555     1
599     1
600     1
       ..
714     1
719     1
724     1
742     1
756     1
761     1
764     1
769     1
772     1
786     1
806     1
811     1
901     1
902     1
909     1
912     1
914     1
915     1
943     1
961     1
972     1
978     1
984     1
985     1
1013    1
1023    1
1028    1
1064    1
1072    1
1083    1
Name: 3, Length: 65, dtype: int32

In [18]:
mask_2 = ingr_comp_data["# ingredient id"] == str(xx)
#ingr_comp_data[mask_2]

      # ingredient id compound id
18957               3         272
18958               3         275
18959               3         423
18960               3         424
18961               3         282
18962               3         972
18963               3         978
18964               3         292
18965               3         714
18966               3         984
18967               3         985
18968               3        1028
18969               3         724
18970               3         413
18971               3         531
18972               3         600
18973               3         742
18974               3          54
18975               3          71
18976               3         196
18977               3        1023
18978               3         198
18979               3          62
18980               3         203
18981               3         761
18982               3         344
18983               3         764
18984               3         901
18985               3         902
18986               3         199
...               ...         ...
18992               3         369
18993               3         914
18994               3         645
18995               3        1083
18996               3         286
18997               3        1064
18998               3         390
18999               3         786
19000               3         656
19001               3         657
19002               3         391
19003               3         524
19004               3        1072
19005               3         661
19006               3         912
19007               3         599
19008               3         243
19009               3         756
19010               3         943
19011               3         806
19012               3         409
19013               3        1013
19014               3         811
19015               3         719
19016               3         686
19017               3         136
19018               3         915
19019               3         554
19020               3         555
19021               3         961

[65 rows x 2 columns]

In [19]:
pd.DataFrame.to_csv(df_ingr_comp, r".\data\matrix_ingr_comp.csv", ',')

# Recipe-ingredient

In [20]:
recipes_data.shape
cols2 = recipes_data.columns[1:]
df_recipes = recipes_data[cols2]
df_regions = recipes_data["region"]

In [21]:
temp2 = np.zeros((56498, 1530), dtype = np.int)

In [22]:
dict_ingr =  {}
invert_dict = {}
for idx, row in ingr_data.iterrows():
  dict_ingr[row["ingredient name"]] = idx
  invert_dict[idx] = row["ingredient name"]
for idx, rec in df_recipes.iterrows():
  for ingr in rec:
    if not (pd.isnull(ingr)):
      rID = idx
      iID = dict_ingr[ingr]
      temp2[rID, iID] = 1
df_recip_ingr = pd.DataFrame(data = temp2)

In [23]:
#df_recip_ingr.head()

,0,1,2,3,4,5,6,7,8,9,...,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
rr = 3
mask2 = df_recip_ingr.iloc[rr] == 1
ii = df_recip_ingr.iloc[rr][mask2]
temp3 = [invert_dict[i] for i in ii.index.tolist()]

In [25]:
print("matrix:\n", temp3)
print("length of matrix: ", len(temp3))
print("data: \n", recipes_data.iloc[rr].dropna().values[1:].tolist())

matrix:
 ['garlic', 'rice', 'beef', 'leek', 'cumin', 'olive_oil', 'wheat', 'cardamom', 'onion', 'pepper']
length of matrix:  10
data:
 ['olive_oil', 'pepper', 'wheat', 'beef', 'onion', 'cardamom', 'cumin', 'garlic', 'rice', 'leek']

In [26]:
pd.DataFrame.to_csv(df_recip_ingr, r".\data\matrix_recip_ingr.csv", ",")