In [1]:
import pandas as pd
import numpy as np

In [2]:
'''
Transforming dataset of flavor Network

Finally saved data with column names and row names in csv format
Columns and rows are defined as IDs.

'''

rec_names = ["region"]
rec_names = rec_names + ["ingredient {0}".format(i+1) for i in range(32)]

In [9]:
recipes_data = pd.read_csv(r".\data\recipes.csv", dtype = "str", names = rec_names)
ingr_data = pd.read_csv(r".\data\ingr_info.tsv", dtype = "str", sep = '\t')
comp_data = pd.read_csv(r".\data\comp_info.tsv", dtype = "str", sep ='\t')
ingr_comp_data = pd.read_csv(r".\data\ingr_comp.tsv", dtype = "str", sep = '\t')

In [12]:
recipes_data.shape

(56498, 33)

In [13]:
recipes_data.head()

,region,ingredient 1,ingredient 2,ingredient 3,ingredient 4,ingredient 5,ingredient 6,ingredient 7,ingredient 8,ingredient 9,...,ingredient 23,ingredient 24,ingredient 25,ingredient 26,ingredient 27,ingredient 28,ingredient 29,ingredient 30,ingredient 31,ingredient 32
0,African,chicken,cinnamon,soy_sauce,onion,ginger,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,African,cane_molasses,ginger,cumin,garlic,tamarind,bread,coriander,vinegar,onion,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,African,butter,pepper,onion,cardamom,cayenne,ginger,cottage_cheese,garlic,brassica,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,African,olive_oil,pepper,wheat,beef,onion,cardamom,cumin,garlic,rice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,African,honey,wheat,yeast,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
ingr_data.shape

(1530, 3)

In [33]:
ingr_data.head()

  # id             ingredient name          category
0    0          magnolia_tripetala            flower
1    1   calyptranthes_parriculata             plant
2    2  chamaecyparis_pisifera_oil  plant derivative
3    3                    mackerel      fish/seafood
4    4      mimusops_elengi_flower            flower

In [42]:
ingr_data[ingr_data["# id"] == '7']

  # id ingredient name category
7    7    black_pepper    spice

In [7]:
comp_data.shape

(1107, 3)

In [8]:
comp_data.head()

  # id                          Compound name CAS number
0    0                                jasmone   488-10-8
1    1                  5-methylhexanoic_acid   628-46-6
2    2                            l-glutamine    56-85-9
3    3  1-methyl-3-methoxy-4-isopropylbenzene  1076-56-8
4    4              methyl-3-phenylpropionate   103-25-3

# ingredient-compound

In [6]:
# matrix = ingredient * compounds 
cols = [i for i in range(1107)]
temp = np.zeros((1530,1107), dtype = np.int)

In [7]:
# ingredient-compound
for idx, row in ingr_comp_data.iterrows():
  iID = int(row["# ingredient id"])
  cID = int(row["compound id"])
  temp[iID, cID] = 1 
df_ingr_comp = pd.DataFrame(data = temp)

In [8]:
xx = 3
mask = df_ingr_comp.iloc[xx] == 1
#print(df_ingr_comp.iloc[xx][mask])

In [9]:
mask_2 = ingr_comp_data["# ingredient id"] == str(xx)
#ingr_comp_data[mask_2]

In [10]:
pd.DataFrame.to_csv(df_ingr_comp, r".\data\matrix_ingr_comp.csv", ',')

# Recipe-ingredient

In [11]:
recipes_data.shape
cols2 = recipes_data.columns[1:]
df_recipes = recipes_data[cols2]
df_regions = recipes_data["region"]

In [12]:
temp2 = np.zeros((56498, 1530), dtype = np.int)

In [13]:
dict_ingr =  {}
invert_dict = {}
for idx, row in ingr_data.iterrows():
  dict_ingr[row["ingredient name"]] = idx
  invert_dict[idx] = row["ingredient name"]
for idx, rec in df_recipes.iterrows():
  for ingr in rec:
    if not (pd.isnull(ingr)):
      rID = idx
      iID = dict_ingr[ingr]
      temp2[rID, iID] = 1
df_recip_ingr = pd.DataFrame(data = temp2)

In [14]:
#df_recip_ingr.head()

In [15]:
rr = 3
mask2 = df_recip_ingr.iloc[rr] == 1
ii = df_recip_ingr.iloc[rr][mask2]
temp3 = [invert_dict[i] for i in ii.index.tolist()]

In [16]:
print("matrix:\n", temp3)
print("length of matrix: ", len(temp3))
print("data: \n", recipes_data.iloc[rr].dropna().values[1:].tolist())

matrix:
 ['garlic', 'rice', 'beef', 'leek', 'cumin', 'olive_oil', 'wheat', 'cardamom', 'onion', 'pepper']
length of matrix:  10
data:
 ['olive_oil', 'pepper', 'wheat', 'beef', 'onion', 'cardamom', 'cumin', 'garlic', 'rice', 'leek']

In [14]:
pd.DataFrame.to_csv(df_recip_ingr, r".\data\matrix_recip_ingr.csv", ",")

NameError: name 'df_recip_ingr' is not defined

In [22]:
# save part of the data 5000*1530
pd.DataFrame.to_csv(df_recip_ingr.head(5000), r".\data\test_recip_ingr.csv", ",")

In [43]:
# save the recipes have more than n ingredients
t_df = pd.read_csv(r".\data\matrix_recip_ingr.csv")
del t_df["Unnamed: 0"]

In [44]:
mask_g3 = t_df.apply(np.sum, axis = 1) >= 3
df_g3 = t_df.loc[mask_g3,].reset_index()
df_g3.shape

(55001, 1531)

In [48]:
df_g3.head()

,index,0,1,2,3,4,5,6,7,8,...,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
mask_g5 = t_df.apply(np.sum, axis = 1) >= 5
df_g5 = t_df.loc[mask_g5,].reset_index()
df_g5.shape

(48870, 1531)